---

import '../styles/global.css';

---


<div>
<a href="#year-2026" class="primary-button"> 2026 </a>
<a href="#2025" class="primary-button"> 2025 </a>
</div>



<style>

    div{
    display: flex;
    gap: 10px;
    }

</style>




 