---
import ContextSection from "../context-section.astro"
import ContextSectionLinks from "../context-section-links.astro"
---


<ContextSection>
	<h2>Open Notes</h2>
	<hr>
	<p> Open Notes is a collection of observational essays and fantastical myths. I publish a few new entries per week,
		and share one each month in the Middle Ground Newsletter. </p>
    <ContextSectionLinks>
		<a href="/open-notes-volume-one/" class="primary-button clicked">Volume One</a>
		<button class ="primary-button"> Snippets </button>
		<button class ="primary-button"> Newsletter </button>
	</ContextSectionLinks>
</ContextSection>

<style>
.primary-button.clicked{
background: #FFA800;
outline: none;
color: #FFF;
font-weight: 400;

}
</style>


