html {
  background-color: #FCFCFC;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-family: "Atkinson Hyperlegible";
  font-weight: 600;
}

p {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 300;
  font-size: 0.85rem 
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/AtkinsonHyperlegibleNext-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/AtkinsonHyperlegibleNext-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible Semibold";
  src: url("/AtkinsonHyperlegibleNext-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  src: url("/AtkinsonHyperlegibleMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  src: url("/AtkinsonHyperlegibleMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono Semibold";
  src: url("/AtkinsonHyperlegibleMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


h2, h3, h4, h5, h6 {
  font-family: "Atkinson Hyperlegible Mono";
  font-weight: 500;
  text-transform: uppercase;
  font-size: .85rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
  align-self: stretch;
  color: #2d2d2d; /* Darkest Gray */   
}


h1, h3, h2, h4, h5, p {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #E8E8E8;
	width: 100%;
}

.primary-button {
display: inline-flex;
width: fit-content;
padding: 10px 20px;
cursor: pointer; 
text-decoration: none;
border-radius: 100px;
border: 1px solid #E8E8E8;
background: #FAFAFA;
font-family: "Atkinson Hyperlegible Mono";
font-weight: 400;
text-transform: uppercase;
letter-spacing: .15em;
font-size: .65rem;
color: #2d2d2d;
}

.primary-button:hover {
  background: #ffffff
}

p{
  line-height: 1.35;
}


.content-links {
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  cursor: pointer; 
  text-decoration: none;
  width: fit-content;
  gap: 15px;

  border-radius: 100px;
  border: 1px solid #E8E8E8;
  background: #FAFAFA;
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 400;
  font-size: .90rem;
  color: #2d2d2d;
}

.open-note-headers {
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  text-decoration: none;
  width: fit-content;

  border-radius: 100px;
  border: 1px solid #E8E8E8;
  background: #FAFAFA;
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 400;
  font-size: .85rem;
  color: #2d2d2d;
}

.content-links:hover{
background: #FFFFFF;
cursor: pointer;
}

.link-details{
font-family: "Atkinson Hyperlegible Mono"; 
font-weight: 400;
text-transform: uppercase;
font-size: .75rem;
letter-spacing: .15em;
}