html {
  background-color: #FCFCFC;
  font-family: sans-serif;
  scrollbar-gutter: stable;

}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 600;
}

p, li {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 300;
  font-size: 0.85rem 
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/AtkinsonHyperlegibleNext-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/AtkinsonHyperlegibleNext-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("/AtkinsonHyperlegibleNext-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  src: url("/AtkinsonHyperlegibleMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  src: url("/AtkinsonHyperlegibleMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  src: url("/AtkinsonHyperlegibleMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono Semibold";
  src: url("/AtkinsonHyperlegibleMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


h2, h4, h5, h6 {
  font-family: "Atkinson Hyperlegible Mono";
  font-weight: 500;
  text-transform: uppercase;
  font-size: .85rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
  align-self: stretch;
  color: #2d2d2d; /* Darkest Gray */   
}

h3 {
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 400;
  font-size: .90rem;
  text-decoration: none;
  color: #2d2d2d; /* Darkest Gray */   
}


h1, h3, h2, h4, h5, p {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #E8E8E8;
	width: 100%;
}

.primary-button {
display: inline-flex;
align-items: center;
width: fit-content;
padding: 10px 20px;
cursor: pointer; 
text-decoration: none;
border-radius: 100px;
border: 1px solid #E8E8E8;
background: #FAFAFA;
font-family: "Atkinson Hyperlegible Mono";
font-weight: 300;
text-transform: uppercase;
letter-spacing: .15em;
font-size: .675rem;
color: #2d2d2d;
}

.primary-button:hover {
  background: #ffffff;
  font-weight: 500;
  align-items: center;
}

p{
  line-height: 1.35;
}


.content-links {
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  cursor: pointer; 
  text-decoration: none;
  width: fit-content;
  gap: 7.5px;

  border-radius: 100px;
  border: 1px solid #E8E8E8;
  background: #FAFAFA;
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 400;
  font-size: .90rem;
  color: #2d2d2d;
  text-decoration: none;
  text-transform: capitalize;
}

.open-note-headers {
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  text-decoration: none;
  width: fit-content;

  border-radius: 100px;
  border: 1px solid #E8E8E8;
  background: #FAFAFA;
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 400;
  font-size: .85rem;
  color: #2d2d2d;
}

.content-links:hover{
background: #FFFFFF;
cursor: pointer;
}

.link-details{
font-family: "Atkinson Hyperlegible Mono"; 
font-weight: 300;
text-transform: uppercase;
font-size: .75rem;
letter-spacing: .10em;
text-decoration: none;
color: #AEAEAE;
}

.note{
font-family: "Atkinson Hyperlegible Mono";
text-transform: uppercase;
font-weight: 300;
letter-spacing: .10em;
font-size: .65rem;
}

.content-bubble{
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  cursor: pointer; 
  text-decoration: none;
  width: fit-content;
  gap: 7.5px;
  align-items: center;

  border-radius: 100px;
  border: 1px solid #E8E8E8;
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 400;
  font-size: .90rem;
  color: #2d2d2d;
  text-decoration: none;
}

.snippet-links:hover {
  cursor: default;
}

.body-link{
  text-decoration: underline;
  color: #2d2d2d;
}

.content-bubble:hover{
    background: #FFF;
    cursor: default;
}


.project-tag-filters{
  display: flex;
  gap: 15px;
  width: fit-content;
}


.list-item-title{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    width: fit-content;
    gap: 7.5px;

    font-family: "Atkinson Hyperlegible Next";
    font-weight: 500;
    font-size: .90rem;
    text-decoration: none;
}

.list-item-title:hover{
    text-decoration: underline;
}

.list-item-title.no-link:hover{
    text-decoration: none;
}

.text-list-item{
    display: flex;
    width: fit-content;
    gap: 7.5px;
    align-items: center;
}


.list-item-details{
    display: flex;
    width: fit-content;
    gap: 7.5px;
    font-size: .75rem;

    font-family: "Atkinson Hyperlegible Mono"; 
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .10em;
    text-decoration: none;
    color: #AEAEAE;
}


.list-item-details a {
    display: flex;
    width: fit-content;
    gap: 7.5px;
    font-size: .75rem;

    font-family: "Atkinson Hyperlegible Mono"; 
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .10em;
    text-decoration: none;
    color: #AEAEAE;
}

.list-item-details a:hover {
    font-weight: 500;
    color: #2d2d2d;
}


.all-map-list-items{
    display: flex;
    gap: 20px;
    flex-direction: column;
}



.info-bubble {

  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  cursor: pointer; 
  text-decoration: none;
  width: fit-content;
  gap: 7.5px;
  align-items: center;

  border-radius: 100px;
  border: 1px solid #E8E8E8;
  background: #FAFAFA;
  text-decoration: none;

  font-family: "Atkinson Hyperlegible Mono"; 
  font-weight: 300;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .10em;
  text-decoration: none;
  color: #AEAEAE;
}


.title-bubble {
  display: inline-flex;
  padding: 10px 20px;
  align-items: center;
  cursor: pointer; 
  text-decoration: none;
  width: fit-content;
  gap: 7.5px;
  align-items: center;

  border-radius: 100px;
  border: 1px solid #E8E8E8;
  background: #FAFAFA;
  font-family: "Atkinson Hyperlegible Next";
  font-weight: 500;
  font-size: .90rem;
  color: #2d2d2d;
  text-decoration: none;
}

.title-bubble:hover{
cursor: default;
}


.content-links.header:hover{
  cursor: default;
  background: #FAFAFA;
  text-transform: capitalize;
}


.horizontal-header{
  display: flex;
  flex-direction: row;
  gap: 7.5px;
  width: 100%;
  align-items: center;
}


.list-item-details.large{
  font-size: .80rem;
  color: #2d2d2d;
}

/* A-LINK DETAILS BELOW */

a:visited {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}


/* END LINK DETAILS */



.filter-by-tag{
font-family: "Atkinson Hyperlegible Mono"; 
font-weight: 300;
text-transform: uppercase;
font-size: .75rem;
letter-spacing: .10em;
text-decoration: none;
color: #AEAEAE;
}


.filter-by-tag:hover{
font-weight: 500;
}

.filter-by-tag + .filter-by-tag::before {
  content: "/";
  margin-right: 15px;
  font-weight: 300;
}

.filter-by-tag + .filter-by-tag:hover::before {
  font-weight: 300;
}



:root {
  --line-gray: #E8E8E8;
  --fill-gray: #FAFAFA;
  --med-gray: #AEAEAE;
  --dark-gray: #2D2D2D;

}


body {
  max-width: 1200px;
  margin: 0 auto;
}


.list-div-40{
  display: flex;
  flex-direction: column;
  gap: 40px;
}




/* IMAGE SETTINGS BELOW */


/* controls the entire div images are rendered into */
.image-collection-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px
}

/* controls each individual image item div*/
.image-entry{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  position: relative;
}


/* very specific bg image settings used for gallery, bookshelf, featured work, old gold */
.bg-image {
  inset: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 0;
  border-radius: 10px;
  border-radius: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}


/* spcial link styling for bubbles that sit atop images */
.link-details.images{
  border-radius: 50px;
  width: auto;
  color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(1px);
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 7.5px 15px;
  z-index: 1;
}

.link-details.images.dark{
  border-radius: 50px;
  width: auto;
  color: rgba(255, 255, 255, 0.85);
  border: 0.5px solid rgba(0, 0, 0, 0.02);
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(1.5px);
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 7.5px 15px;
  z-index: 1;
}


/* these are used only for compendium entries */
.image-dark-border {
  width: 100%;
  height: auto;
  border-radius: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.15);
  outline-offset: -1px;
}
.image-light-border {
  width: 100%;
  height: auto;
  border-radius: 10px;
  outline: 1px solid rgba(255, 255, 255, 0.789);
  outline-offset: -1px;
}


/*linked images */
.linked-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: filter 0.3s ease;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}

.linked-image:hover {
  filter: brightness(0.75);
}

/* FOR PROJECT PAGE */
.project-header-info{
    display: inline-flex;
    gap: 10px;
    width: fit-content;
}



/* MOBILE VIEWPORT */

@media (max-width: 768px) {
    
  
  .hide-mobile {
    display: none;
  }

  .list-item-details.hide-mobile {
    display: none;
  }

  .text-list-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .list-item-details{
    display: flex;
    flex-direction: row;
    gap: 7.5px;
  }

  body{
    padding: 1rem 1.5rem;
  }

  .content-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
  }

  .content-links.open-notes {
    border-radius: 35px;
    gap: 0px;
    padding: 10px 25px;
  }

  .content-links.mobile-row{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    width: fit-content;
  }

  .content-bubble{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    border-radius: 35px;
    gap: 0px;
    padding: 10px 25px;
  }

  .project-header-info{
    width: 100%;
    gap: 0px;
  }

}