---

const pageTitle = "About";


import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import Footer from '../components/footer.astro'
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import ContextSectionLinks from '../components/context-section-links.astro';
import ContextSectionFooter from '../components/context-section-footer.astro';
import Contact from './contact.astro';


---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>
	<body>
	  <PageWrapper>
	    <Navigation />
	      <ContextSection>
          <h2>{pageTitle}</h2>
          <hr>
          <p>
              In my opinion, the "about" section is always the hardest to write, especially when what you're about is always changing. But here's a quick high-level view of my journey and where Middle Ground Currently stands.
          </p>
            <hr>
            <p>
             When I first started sharing work in 2019 Middle Ground essentially functioned as a generic "bucket" for my creative work. Then, in 2020, after making the decision to sell merch, I reframed Middle Ground a "design shop." In 2021 after selling like, no merch, I decided to release my first book which changed Middle Ground into a "small-batch design and publishing" studio. 
            </p>
            <hr>
           <p>
              Currently, I think about Middle Ground as an "heirloom design studio." To learn more about what that means explore the what / why page below.
            </p>
          <ContextSectionLinks>
            <a href="/bio/" class="primary-button">Bio</a>
            <a href="/what-why/" class ="primary-button"> What / Why </a>
            <a href="/contact/" class ="primary-button"> Contact </a>
            <a href="/cv/" class ="primary-button"> curriculum vitae </a>
          </ContextSectionLinks>
	      </ContextSection>   
    <ContextSectionFooter />
    <PageWrapper/>
    </body>
    </html>







<style>
    h1 {
      color: #2d2d2d;
      font-size: 4rem;
    }

    .links {
      color: var(--linkColor);
      font-weight: var(--linkWeight);
      text-transform: var(--linkCase);
    }



    