---

const pageTitle = "About";


import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import Footer from '../components/footer.astro'
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import ContextSectionLinks from '../components/context-section-links.astro';
import ContextSectionFooter from '../components/context-section-footer.astro';


---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>
	<body>
	  <PageWrapper>
	    <Navigation />
	      <ContextSection>
          <h2>{pageTitle}</h2>
          <hr>
          <p>
          What Middle Ground Made is has always changed. When I first started sharing work in 2019 it wasn't anything. Middle Ground essentially started as a generic "bucket" for my creative work. In 2020 I called Middle Ground a "design shop" in 2021 after I release my first book I reframed Middle Ground as a "design and publishing" studio.
          <br>
          <br>
          Each change in perspective made Middle Ground more honest. Now though I think Middle Ground made is an heirloom design studio.
          I do all this from Greenville, SC. As a final note, Mikey Hayes is the founder and sole operator of Midde Ground Made.</p>
          <ContextSectionLinks>
            <a href="/bio/" class="primary-button">Bio</a>
            <a href="/what-why" class ="primary-button"> What / Why </a>
            <a href="/cv" class ="primary-button"> curriculum vitae </a>
          </ContextSectionLinks>
	      </ContextSection>   
    <ContextSectionFooter />
    <PageWrapper/>
    </body>
    </html>







<style>
    h1 {
      color: #2d2d2d;
      font-size: 4rem;
    }

    .links {
      color: var(--linkColor);
      font-weight: var(--linkWeight);
      text-transform: var(--linkCase);
    }



    