---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
	    <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Open Notes</a>
        <main>
         <section class="About Context">
      <div class="container">
        <h1>About</h1>
        <hr>
        <p>ThereS's not too much to earn about Middle Ground Made. Ots a Deisgn Studio founded in Greenville SC. Its owned and operated by MIkey Hayes,
        who is also writing this copy and every othe rpice of copy on this website.
        Middle Ground, is, in essence the entire collection of my creative work.</p>
      </div>
    </section>
  </main>
	</body>
</html>
