---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import ContextSectionFooter from '../components/context-section-footer.astro';
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import BackButton from '../components/back-button.astro';
import CompendiumCollection from '../components/compendium-collection.astro';
import { getCollection } from 'astro:content';
const additions = await getCollection('compendium');


const pageTitle = "Compendium — Midde Ground Made";


---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<meta property="og:title" content="Middle Ground Made" />
		<meta property="og:description" content="Heirloom design studio." />
		<meta property="og:image" content="https://middlegroundmade.com/mg-social-share.webp" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Middle Ground Made" />
		<meta name="twitter:description" content="Heirloom design studio." />
		<meta name="twitter:image" content="https://middlegroundmade.com/mg-social-share.webp" />
	</head>
	<body>
	<PageWrapper>
	<Navigation />

	<ContextSection>
	<h2>Compendium</h2>
	<hr>
	<p> 
		The Middle Ground Compendium holds a special place in my heart, in many ways is my ture creative playground.
	</p>
	<hr>
	<p>
		What's more, The Middle Ground Compendium has bene through many permutations over the years, currently, its a thriving collection that recieves updates at least a few times a month. I love making things that exist regardless of thier ability to earn a return on investment or become a product. This is my collection of things I've made just because. 
	</p>
    <p class="note">
    [{additions.length}] entries, newest to oldest 
    </p>
	</ContextSection>

	<ContextSection>
	<CompendiumCollection/>
		<p> 
			Seems like you've made it ti the end of the list...SIKE! There's more! Before the Middle Ground Compendium was invented there was 
			Saturday Type Clue. The true starting point of my creative journey, to check out this secret collection <a class="stc-link" href="/saturday-type-club/"> click here </a> 
		</p>
	
		<BackButton/>
	</ContextSection>
	
	<ContextSectionFooter/>
	<PageWrapper/>
	</body>
</html>


<style>
	.stc-link{
		font-weight: 500;
	}
</style>