---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import ContextSectionFooter from '../components/context-section-footer.astro';
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import BackButton from '../components/back-button.astro';
import CompendiumCollection from '../components/compendium-collection.astro';
import { getCollection } from 'astro:content';
const additions = await getCollection('compendium');


const pageTitle = "Compendium";


---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>
	<body>
	<PageWrapper>
	<Navigation />

	<ContextSection>
	<h2>{pageTitle}</h2>
	<hr>
	<p> I didn't plan on my writing fitting this neatly into categories, but here we have it. P.S. I didn't make these images light boxes. There's just
        so much code involvd with making them. Enjoy the slightly un-optimized collection. </p>
    <p class="note">
    [{additions.length}] entries, newest to oldest 
    </p>
	</ContextSection>

	<ContextSection>
	<CompendiumCollection/>
	<p> Seems like you've made it ti the end of the list...SIKE! There's more! Before the Middle GRound Compendium was a thing there was 
		Saturday Type Clue. The true starting point of my creative journey, to check out this secret collection click </p>
	
		<BackButton/>
	</ContextSection>
	
	<ContextSectionFooter/>
	<PageWrapper/>
	</body>
</html>