---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import ContextSectionFooter from '../components/context-section-footer.astro';
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import BackButton from '../components/back-button.astro';
import CvLayout from '../components/cv-layout.astro';


const pageTitle = "Contact";


---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>
	<body>
	<PageWrapper>
	<Navigation />
	<ContextSection>
	<h2>{pageTitle}</h2>
	<hr>
	<p> 
		I intentionally try not to have a whole lot going on. So if you'd like to reach out the best way to do so is though email. There's no contact form, no office phone, no address, just email.
		<br> 
		<br>
		Though if you'd liek to swap art projects send me an email, prove tat you;re human and maybe
		we can get to swapping. For all other inquires please reach out via email.
    </p>
	<p class="note">
    * mikey@middlegroundmade.com
    </p>
	<hr>
	<BackButton/>
	</ContextSection>
	</PageWrapper>
	</body>
</html>