---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import ContextSectionFooter from '../components/context-section-footer.astro';
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import BackButton from '../components/back-button.astro';


const pageTitle = "Contact — Middle Ground Made";


---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<meta name="format-detection" content="telephone=no,email=no,address=no">

		<meta property="og:title" content="Middle Ground Made" />
		<meta property="og:description" content="Heirloom design studio." />
		<meta property="og:image" content="https://middlegroundmade.com/mg-social-share.webp" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Middle Ground Made" />
		<meta name="twitter:description" content="Heirloom design studio." />
		<meta name="twitter:image" content="https://middlegroundmade.com/mg-social-share.webp" />
	</head>
	<body>
	<PageWrapper>
	<Navigation />
	<ContextSection>
	<h2>Contact</h2>
	<hr>
	<p> 
		I intentionally try not to have a whole lot going on. So if you'd like to reach out the best way to do so is though email. Also, no, you're not missing anything—there's no contact form, no office phone, no address, just an email hidden behind a hyper-link.
		<br> 
		<br>
		Also, fair warning, I'm kinda bad at digital correspondance. I'm notoriusly a terrible texter, I silience group-chats, and troll conversations whenever I get the chance. So be warned all ye' wo dare to send <a href ="mailto: mikey@middlegroundmade.com" class="body-link"> electronic mail.</a>
    </p>
	<p class="note">
    *email linked above
    </p>
	<hr>
	<BackButton/>
	</ContextSection>
	<ContextSectionFooter/>
	</PageWrapper>
	</body>
</html>