---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import ContextSectionFooter from '../components/context-section-footer.astro';
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import BackButton from '../components/back-button.astro';
import CvLayout from '../components/cv-layout.astro';


const pageTitle = "Cirriculum Vitae";


---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>
	<body>
	<PageWrapper>
	<Navigation />
	<ContextSection>
	<h2>{pageTitle}</h2>
	<hr>
	<p> 
		If you're looking for a complete list of everything I've made or done you should just 
		keep poking through this website. But if you want to know the projects I'm most proud of, and my work and education history you're in the right place.
    </p>
	<p class="note">
    * Featured Work and History incoming
    </p>
	</ContextSection>

	<ContextSection>
	<CvLayout/>
    <hr>
	<BackButton/>
	</ContextSection>

	<ContextSectionFooter/>
	</PageWrapper>
	</body>
</html>