---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import ContextSectionLinks from '../components/context-section-links.astro'
import ContextSectionFooter from '../components/context-section-footer.astro';


const pageTitle = "Design — Middle Ground Made";


---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<meta property="og:title" content="Middle Ground Made" />
		<meta property="og:description" content="Heirloom design studio." />
		<meta property="og:image" content="https://middlegroundmade.com/mg-social-share.webp" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Middle Ground Made" />
		<meta name="twitter:description" content="Heirloom design studio." />
		<meta name="twitter:image" content="https://middlegroundmade.com/mg-social-share.webp" />
	</head>
	<body>
	<PageWrapper>
	<Navigation />
	<ContextSection>
	<h2>Design</h2>
	<hr>
		<p> 
			Conviently, my design work falls into two distinct camps.
		</p>
	<hr>
		<p>
			The first camp is the Middle Ground Compendium. It houses all of my one-off designs. These could be things like badges, lettering pieces, merch ideas, illustrations — whatever.
		</p>
		<hr>
		<p>
			The second camp is Projects. This collection contains pieces of work that are more robust than sketching and idea and making it a vector in Illustrator.	
		</p>
	</p>
	<ContextSectionLinks>
		<a href="/compendium/" class="primary-button">Compendium</a>
		<a href="/projects" class ="primary-button"> Projects </a>
	</ContextSectionLinks>
	</ContextSection>
	<ContextSectionFooter/>
	</PageWrapper>
	</body>
</html>