---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import ContextSectionFooter from '../components/context-section-footer.astro';
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import ContextSectionLinks from '../components/context-section-links.astro'



const pageTitle = "Extras";


---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>
	<body>
	<PageWrapper>
	<Navigation />
	<ContextSection>
	<h2>{pageTitle}</h2>
	<hr>
	<p> I didn't plan on my writing fitting this neatly into categories, but here we have it. </p>
	<ContextSectionLinks>
		<a href="/bookshelf" class ="primary-button"> Bookshelf </a>
        <a href="/gallery" class ="primary-button"> Gallery </a>
		<a href="/old-gold" class ="primary-button"> Old Gold </a>
		<a href="/latest/" class ="primary-button"> Latest </a>
		<span class="primary-button"> Merch (TBD) </span>
	</ContextSectionLinks>
	</PageWrapper>
	<ContextSectionFooter />
	</body>
</html>