---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import Footer from '../components/footer.astro'

const pageTitle = "Middle Ground Made";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

		<style>
			span {
			color: #2d2d2d; /* Darkest Gray */   
    		text-transform: uppercase;
    		font-family: "Atkinson Hyperlegible Mono Semibold";
    		font-size: .75rem;
   	 		letter-spacing: 0.05rem;
    		text-decoration: none;
			align-self: stretch;

			}

			p {
			font-size: .75rem;
			align-self: stretch;
			}

			main {
			/* layout*/
			margin-top: 50px;
			display: flex;
			padding: 25px 20px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 15px;

			/* style */
			border-radius: 10px;
			border: 0.75px solid #E8E8E8;
			background: #FFF;
			box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
			}

		</style>
	</head>
	<body>
		<Navigation/>
		<main>
			<span> Featured Releases </span>
			<p> Open Notes, is a collection of essays that share small thjoughts about the big picture. The Open Notes Published Archive is upded on a weekly basis. Each month one note is shared via the Ground Up Newsletter. Occassionaly notes are collected and oublished as a physical book!</p>
		</main>
		<Footer/>
	</body>
</html>
