---
<<<<<<< HEAD

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
=======
>>>>>>> 2653e5bdf11c488ffa6c1fc9a8364a252545b994
const pageTitle = "Middle Ground Made";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
<<<<<<< HEAD
		<Navigation />
=======
	<a href="/">Home</a>
    <a href="/about/">About</a>
	<a href="/open-notes/">Open Notes</a>
>>>>>>> 2653e5bdf11c488ffa6c1fc9a8364a252545b994
		<h1>Middle Ground Made</h1>
	</body>
</html>
