---

import '../styles/global.css';
import Navigation from '../components/navigation.astro';
import Footer from '../components/footer.astro';
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import FeaturedWorkLayout from '../components/featured-work-layout.astro';
import FeaturedEssay from '../components/featured-essay-layout.astro';
import ContextSectionFooter from '../components/context-section-footer.astro';
const pageTitle = "Middle Ground Made";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<PageWrapper>
		<Navigation/>	
		<ContextSection>
		<h2> The Basics </h2>
		<hr>
		<p> I follow the spark by creating herilooms. Here's a collection of work that I am particularly proud of. These selections could be recently finished, or they could be recently re-discovered.HIS IS A TEST COMMIT I hope you enjoy them as much as I do! </p>
		<p class="note">
    	* Featured work incoming
    	</p>
		</ContextSection>

		<ContextSection class="more-space">
		<FeaturedWorkLayout/>
		<hr class="more-space">
		<FeaturedEssay/>
		</ContextSection>

		<ContextSectionFooter/>

		</PageWrapper>
	</body>
</html>


<style>

	.more-space{
	margin-top: 20px;
	margin-bottom: 20px;

	}


	
</style>