---

import '../styles/global.css';
import Navigation from '../components/navigation.astro';
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import FeaturedWorkLayout from '../components/featured-work-layout.astro';
import FeaturedEssay from '../components/featured-essay-layout.astro';
import ContextSectionFooter from '../components/context-section-footer.astro';
import HomePageContent from '../components/home-page-content.astro';
import BackButton from '../components/back-button.astro';

const pageTitle = "Middle Ground Made";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>
	<body>
		<PageWrapper>
		<Navigation/>	
		<ContextSection>
		<h2> The Basics </h2>
		<hr>
		<p> Be warned all ye who enter my digital backyard! This website is a never ending work in progress. So while you are encouraged to poke around and stay as long as you want, you should do so knowing that things will inevitabley change or update.</p>
		<hr>
		<p>
		With that word of warning out of the way, everything I create is on this website every essay, design, project, snippet, and even some extras. I hope you find something worthwhile here and if not, well, come back soon for an update.
		</p>
		<p class="note">
    	* Featured work incoming
    	</p>
		</ContextSection>

		<ContextSection>
		<HomePageContent/>
		</ContextSection>
		
		<ContextSectionFooter/>

		</PageWrapper>
	</body>
</html>


<style>

	.more-space{
	margin-top: 20px;
	margin-bottom: 20px;

	}


	
</style>