---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import Footer from '../components/footer.astro'
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import ContextSectionLinks from '../components/context-section-links.astro'
import ContextSectionFooter from '../components/context-section-footer.astro';



const pageTitle = "Newsletter — Middle Ground Made";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<meta property="og:title" content="Middle Ground Made" />
		<meta property="og:description" content="Heirloom design studio." />
		<meta property="og:image" content="https://middlegroundmade.com/mg-social-share.webp" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Middle Ground Made" />
		<meta name="twitter:description" content="Heirloom design studio." />
		<meta name="twitter:image" content="https://middlegroundmade.com/mg-social-share.webp" />
	</head>
	<body>
	<PageWrapper>
	<Navigation />
	<ContextSection>
	<h2>Newsletter</h2>
	<hr>
	<p> 
		The Middle Ground Newsletter is sent on a monthly basis and contains something I've written, something I've found, and something I've made. 
	</p>
	<hr>
	<p>
		P.S. This newsletter is the best way to stay up to date with all things Middle Ground Made, so if you like the work around here, joining the newsletter is probably a good idea! 
	</p>
	<ContextSectionLinks>
        <a href="/sign-up" class ="primary-button"> Sign Up </a>
        <a href="/resources/" class="primary-button">Resources</a>
        <a href="https://middle-ground-made.kit.com/profile" class="primary-button" target="_blank" rel="noopener noreferrer"> Archive (↗) </a>
	</ContextSectionLinks>
	</ContextSection>
    <ContextSectionFooter/>
	</PageWrapper>
	</body>
</html>