---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import Footer from '../components/footer.astro'
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import OpenNotesVolumeOneLinks from '../components/open-notes-volume-one-links.astro';

const pageTitle = "Open Notes"

---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    </head>
    <body>
        <PageWrapper>
        <Navigation/>
            <ContextSection>
            <h2>{pageTitle}</h2> 
	        <hr>
            <p>
            Open Notes is a collection of observational essays and fantastical myths. I publish a few new entries per week,
		    and share one each month in the Middle Ground Newsletter
            </p>
            <p class="note">
            * Notes sorted by year
            </p>
            <OpenNotesVolumeOneLinks/>
            <hr>
            <button onclick="history.back()" aria-label="Go back" class="primary-button"> Back </button>
            </ContextSection>
        </PageWrapper>
        <Footer/>
    </body>
<html/>


<style>

</style>