---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import Footer from '../components/footer.astro'
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import ContextSectionLinks from '../components/context-section-links.astro'


const pageTitle = "Open Notes";


---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
	<PageWrapper>
	<Navigation />
	<ContextSection>
	<h2>{pageTitle}</h2>
	<hr>
	<p> Open Notes is a collection of observational essays and fantastical myths. I publish a few new entries per week,
		and share one each month in the Middle Ground Newsletter. </p>
	<ContextSectionLinks>
		<a href="/open-notes-volume-one/" class="primary-button">Volume One</a>
		<button class ="primary-button"> Snippets </button>
		<button class ="primary-button"> Newsletter </button>
	</ContextSectionLinks>
	</ContextSection>

	</PageWrapper>
	<Footer />
	</body>
</html>