---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import ContextSectionFooter from '../components/context-section-footer.astro';
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import ContextSectionNoPadding from '../components/context-section-no-padding.astro';
import OpenNotesVolumeOneLinks from '../components/open-notes-volume-one-links.astro';
import BackButton from '../components/back-button.astro';

const files = import.meta.glob('../pages/open-notes-archive/*.md');
const count = Object.keys(files).length;

const pageTitle = "Open Notes"

---



<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    </head>
    <body>
        <PageWrapper>
        <Navigation/>
            <ContextSection>
            <h2>{pageTitle}</h2> 
	        <hr>
              <p>
              Open Notes is a collection of observational essays and fantastical myths. I publish a few new entries per week,
              and share one each month in the Middle Ground Newsletter. </p>
              <hr>
              <p>As a point of clarification, I have intentionally decided to not label each note as a "myth" or "observation." While I think the distinction could be helpful I think maintining the sense of categorical ambiguity is apart of the charm and challenges you to decide for yourself what is plainily an observation and what is a little out there and should be labeled as a myth. 
              </p>
            <p class="note">
            [{count}] Notes sorted by year
            </p>
            </ContextSection>

            <ContextSection>
            <OpenNotesVolumeOneLinks/>  

            <BackButton/>

            </ContextSection>

            <ContextSectionFooter/>
        </PageWrapper>
        
    </body>
<html/>





<style>


  .section-divider {
    margin: 0px 1.25rem;
    width: auto;
  }

  .margin{
    margin: 1.25rem 1.25rem;
  }



</style>

