---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import ContextSectionFooter from '../components/context-section-footer.astro';
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import BackButton from '../components/back-button.astro';
import ProjectLinks from '../components/project-links.astro';
import { getCollection } from 'astro:content';
import ContextSectionWithFilters from '../components/context-section-with-filters.astro';
const additions = await getCollection('projects');


const pageTitle = "Projects";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>
	<body>
	<PageWrapper>
		<Navigation />
		<ContextSection>
			<h2>{pageTitle}</h2>
			<hr>
    		<p> 
				If the compendium is my playground this collection is my work bench. When something crosses the threshold into project-dom there is real effort involved in bringin it to life. These aren't just artboards in Adobe Illustrator, they're often physical things you can hold or touch.
    		</p>
			<hr>
			<p>
				Besides being a personal workbench, this collection also houses my noteable works I made as a freelancer or a good 'ole W-2 employee. While this is not an exhaustive list of everything I've made, its a good chunk of the work worth sharing.
			</p>
			<p class="note"> [{additions.length}] projects, dealer's choice </p>
		</ContextSection>
		<ContextSectionWithFilters>
			<ProjectLinks/>
			<BackButton/>
		</ContextSectionWithFilters>
		<ContextSectionFooter/>
	<PageWrapper/>
	</body>
</html>


<style>
.context-section{
padding-top: 40px;
}

</style>