---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import EmailSignup from '../components/email-signup.astro';
import FooterNoEmail from '../components/footer-no-email.astro';
import BackButton from '../components/back-button.astro';


const pageTitle = "Sign Up";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>
	<body>
		<PageWrapper>
			<Navigation />

			<ContextSection>
				<h2> {pageTitle} </h2>
				<hr>
				<p> 
					The Middle Ground Newsletter is sent monthly and includes a Note, a Rsource, and an entry from one of my design collections. I'll also occassionally send studio or merch related updates but avoid spamming.
				</p>
					<hr>
				<p>
					P.S. This newsletter is the best way to stay up to date with all things Middle Ground Made, so if you like the work around here, joining the newsletter is probably a good idea! 
				</p>
			</ContextSection>

			<ContextSection>
				<EmailSignup />
				<FooterNoEmail/>
				<hr>
				<BackButton />
			</ContextSection>
		</PageWrapper>
	</body>
</html>