---

import '../styles/global.css';
import Navigation from '../components/navigation.astro'
import PageWrapper from '../components/page-wrapper.astro';
import ContextSection from '../components/context-section.astro';
import EmailSignup from '../components/email-signup.astro';
import FooterNoEmail from '../components/footer-no-email.astro';
import BackButton from '../components/back-button.astro';


const pageTitle = "Sign Up — Middle Ground Made";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2" />
		<link rel="icon" href="/favicon.ico?v=2" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<meta property="og:title" content="Middle Ground Made" />
		<meta property="og:description" content="Heirloom design studio." />
		<meta property="og:image" content="https://middlegroundmade.com/mg-social-share.webp" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Middle Ground Made" />
		<meta name="twitter:description" content="Heirloom design studio." />
		<meta name="twitter:image" content="https://middlegroundmade.com/mg-social-share.webp" />
	</head>
	<body>
		<PageWrapper>
			<Navigation />

			<ContextSection>
				<h2>Sign Up</h2>
				<hr>
				<p> 
					The Ground Up Newsletter is sent monthly and includes a Note, something from me, and a Resource, something from someone else. I also occassionally send studio or merch related updates but avoid spamming.
				</p>
			</ContextSection>

			<ContextSection>
				<EmailSignup />
				<FooterNoEmail/>
				<hr>
				<BackButton />
			</ContextSection>
		</PageWrapper>
	</body>
</html>