---

import '../styles/global.css';


---

<button onclick="history.back()" aria-label="Go back" class="primary-button"> Back </button>

<style>
    .primary-button:hover {
    font-weight: 500;
    }
</style>