---

---

<form id="Ground-Up-Newsletter-Signup-Form">
  <input id="first-name" type="text" placeholder="First Name /" />
  <input id="email" type="email" placeholder="Email /" required />
  <button type="submit">Subscribe</button>
</form>


<style>

    form {
        display: flex;
        gap: 0.75rem;
        justify-content: space-between;
        align-items: center;
        font-family: "Atkinson Hyperlegible Mono";
        font-weight: 400;
        text-transform: uppercase;
    }


    input {
    padding: .75rem 1rem;
    border: 1px solid #E8E8E8;
    background: transparent;
    font-family: inherit;
    text-transform: inherit;
    font-size: .65rem;
    color: inherit;
    border-radius: 50px;
    letter-spacing: .1rem;
    }

    button {
    padding: .75rem 1rem;
    letter-spacing: .1rem;
    font-family: inherit;
    text-transform: inherit;
    font-size: .65rem;
    border-radius: 50px;
    background: #FFA800;
    color: #ffffff;
    border: none;
    }
</style>