---

import PageWrapper from './page-wrapper.astro';
import ContextSection from './context-section.astro';
import Navigation from './navigation.astro';
import Footer from './footer.astro';

const { frontmatter } = Astro.props;

---


<PageWrapper>
<Navigation />     
     <ContextSection>

          


     <div class="content-links">
          <span class="note-title"> {frontmatter.title} </span>
          <span class="note-details"> / </span>
          <time class="note-details"> {frontmatter.date} </time>
          <span class="note-details"> / </span>
          <span class="note-details"> No.35 </span>
     </div>
     <hr>
     <slot /> 
     <hr>
     <button onclick="history.back()" aria-label="Go back" class="primary-button"> Back </button>

      
     </ContextSection>
<Footer />
</PageWrapper>


<style>

     .content-links{
    gap: 15px
     }

     .note-details{
     font-family: "Atkinson Hyperlegible Mono Regular"; 
     text-transform: uppercase;
     font-size: .75rem;
     letter-spacing: .15em;
     }
     
     .content-links:hover{
    background: #FAFAFA;
    cursor: default;
}

</style>