---

import '../styles/global.css';
import { Image } from 'astro:assets';
import Entry206 from '../assets/website-images/compendium-images/mgc-206.jpg';
import BookMark from '../assets/website-images/project-images/book-mark-01.jpg';

---




<div class="image-collection-div">
    <div class="image-entry">    
        <Image
        src={Entry206}
        alt="Logo Sign painting"
        class="bg-image"
        loading= "eager" />              
        <a href="/compendium" class="link-details images dark"> Compendium </a>
    </div>    
    <div class="image-entry">    
        <Image
        src={BookMark}
        alt="Logo Sign painting"
        class="bg-image" />                
        <a href="/projects" class="link-details images dark"> projects </a>
    </div>  
    </div>
</div>




<style>

a:hover{
    font-weight: 500;
}

</style>