<div>
     <slot />
</div>



<style>

    div{
    /* layout */ 
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    gap: 15px;

    /* styling */ 
    border-radius: 10px;
    border: 1px solid #E8E8E8;

    }
</style>
