---

import '../styles/global.css';
import { Image } from 'astro:assets';
import BookMark from '../assets/website-images/project-images/book-mark-01.webp';
import AnalogHour from '../assets/website-images/project-images/analog-hour-01.webp';
import LogoSign from '../assets/website-images/project-images/logo-sign-01.webp';


---




<div class="image-collection-div">

    <a href="/project-archive/logo-sign/" class="image-entry">    
        <Image
        src={LogoSign}
        alt="Logo Sign painting"
        class="linked-image"
        
        loading= "eager" />              
    </a>    

    <a href="/project-archive/analog-hour/" class="image-entry">    
        <Image
        src={AnalogHour}
        alt="Logo Sign painting"
        class="linked-image"
        loading= "eager" />              
    </a>  

    <a href="/project-archive/book-mark/" class="image-entry">    
        <Image
        src={BookMark}
        alt="Logo Sign painting"
        class="linked-image"
        loading= "eager" />              
    </a> 



</div>




<style>

a:hover{
    font-weight: 500;
}

</style>