---

import '../styles/global.css';
import { Image } from 'astro:assets';
import Entry206 from '../assets/website-images/compendium-images/mgc-206.webp';
import Entry214 from '../assets/website-images/compendium-images/mgc-214.webp';
import Entry218 from '../assets/website-images/compendium-images/mgc-218.webp';

---




<div class="image-collection-div">


    <a href="/compendium/" class="image-entry">    
        <Image
        src={Entry218}
        alt="Logo Sign painting"
        class="linked-image"
        loading= "eager" />              
    </a>  


    <a href="/compendium/" class="image-entry">    
        <Image
        src={Entry214}
        alt="Logo Sign painting"
        class="linked-image"
        loading= "eager" />              
    </a>  

    
    <a href="/compendium/" class="image-entry">    
        <Image
        src={Entry206}
        alt="Logo Sign painting"
        class="linked-image"
        loading= "eager" />              
    </a>    


</div>




<style>

a:hover{
    font-weight: 500;
}

</style>