---

import ContextSection from "./context-section.astro"

---

<div>
  <span class="link-details"> 2026 Middle Ground Made </span>
  <span class="link-details"> / </span>
  <p class="link-details bottom">Follow the spark!</p>
</div>




<style>

  div{
    margin: 7.5px;
    display: flex;
    width: 100%;
    gap: 10px;
  }


  .link-details {
    color: #2d2d2d; /* Darkest Gray */   
    font-weight: 400;
    font-size: .65rem;

  }

    .link-details.bottom {
    color: #FFA800; /* Darkest Gray */   
    font-weight: 500;
    font-size: .65rem;
  }

  footer {
  display: flex;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
  }


</style>
