---


---

<footer>
  <span class="link-details"> 2026 Middle Ground Made </span>
  <span class="link-details"> / </span>
  <p class="link-details bottom">Follow the spark!</p>
</footer>

<style>
  .link-details {
    color: #2d2d2d; /* Darkest Gray */   
    font-weight: 400;
  }

    .link-details.bottom {
    color: #FFA800; /* Darkest Gray */   
    font-weight: 400;
  }

  footer {
  display: flex;
  padding-top: 100px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  width: 685px;
  margin: 0 auto;
  }


</style>
