---

import EmailSignup from './email-signup.astro';
import "../styles/global.css"

---

<footer>
  <div class="title-and-sign-up"> 
    <span class="newsletter-header"> The Middle Ground Newsletter </span>
    <p> Sign up to recieve a monthly note and resource! </p>  
  </div>
  
  <EmailSignup/>

  <div class="tagline">
    <span class="link-details"> 2026 Middle Ground Made </span>
    <span class="link-details"> / </span>
    <p class="link-details bottom">Follow the spark!</p>
</div>
</footer>




<style>

  .newsletter-header {
    color: #2d2d2d; /* Darkest Gray */   
    text-transform: uppercase;
    font-family: "Atkinson Hyperlegible Mono Semibold";
    font-size: .75rem;
    letter-spacing: 0.05rem;
    text-decoration: none;
  }

  p {
  font-size: .80rem;
  }

  footer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  }

  .note{
  margin-top: 20px;
  }


    .link-details {
    color: #2d2d2d; /* Darkest Gray */   
    font-weight: 400;
    font-size: .65rem;
  }

    .link-details.bottom {
    color: #FFA800; /* Darkest Gray */   
    font-weight: 500;
    font-size: .65rem;

  }

  .tagline {
    display: flex;
    gap: 10px;
  }

  .title-and-sign-up{
    display: flex;
    flex-direction: column;
    gap: 10px
  }

</style>
