---

---

<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/open-notes/">Open Notes</a>

<style>
    a {
    color: #2d2d2d; /* Darkets Gray */   
    text-transform: uppercase;
    font-weight: 700;
    }
    


    
</style>