---

import mgLogo from "../assets/Middle-Ground-Made-Web-Logo.svg";

---



<header>

<div class="header-group-outter">
<a href="/">
  <img src={mgLogo.src} alt="Middle Ground Made Logo" />
</a>

<div class="header-group-inner">
    <span class="site-name"> Middle Ground Made</span>
    <spa class="mg-tagline"> Heirloom design studio. </span>
</div>
</div>


 <nav>
    <a href="/">Home</a>
    <a href="/open-notes/">Open Notes</a>
    <a href="/projects/">Projects</a>
    <a href="/projects/">Newsletter</a>
    <a href="/about/">About</a>
    <a href="/projects/">Bookshop</a>
</nav>   

</header>



<style>

    header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: stretch;
    }
    
    .header-group-outter {
    display: flex;
    align-items: center;
    gap: 20px;
    }

    .header-group-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    }
    
    nav {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--Line-Gray, #E8E8E8);
    background:  #ffffff
    }

    a {
    color: #2d2d2d; /* Darkest Gray */   
    text-transform: uppercase;
    font-family: "Atkinson Hyperlegible Mono Regular";
    font-size: .70rem;
    letter-spacing: 0.05rem;
    text-decoration: none;
    }  

    a:hover{
    color: #AEAEAE
    }




    nav a {
     padding-inline: 20px; 
     border-left: 1px solid #E8E8E8;
    }

    nav a:first-child {
    border-left: none; /* removes line before the first link */
    }



    .site-name {
    color: #000;
    font-family: "Atkinson Hyperlegible Semibold";
    font-size: 2rem;
    }

    .mg-tagline {
    color: #000;
    font-family: "Atkinson Hyperlegible Light";
    font-size: 1rem;
    }

   

</style>

