---

---

  <form action="https://app.kit.com/forms/6042195/subscriptions" method="post">
      <input type="text" name="first_name" placeholder="First name" />
        <input type="email" name="email_address" placeholder="Email" required />
        <button type="submit">Subscribe</button>
</form>