---

import '../styles/global.css';

---



<a href= "/open-notes-archive/test" class="content-links">
    <span class ="bold"> Democratization vs Decentralization </span>
    <span class ="link-details"> / </span>
    <time class ="link-details"> Mar, 15 </time>
    <span class ="link-details"> / </span>
    <span class ="link-details"> No. 35 </span>
</a>

<a href= "/open-notes-archive/test" class="content-links">
    <span class ="bold"> Democratization vs Decentralization </span>
    <span class ="link-details"> / </span>
    <time class ="link-details"> Mar, 15</time>
    <span class ="link-details"> / </span>
    <span class ="link-details"> No. 35 </span>
</a>

<style>

.content-links{
    gap: 15px
}


.link-details{
font-family: "Atkinson Hyperlegible Mono Regular"; 
text-transform: uppercase;
font-size: .75rem;
letter-spacing: .15em;
}

</style>
