---

import '../styles/global.css';
const allPosts = Object.values(import.meta.glob('../pages/open-notes-archive/*.md', { eager: true }));
---


{allPosts.map((post: any) =>
<li class="content-links">
    <a href={post.url}>
        <span> {post.frontmatter.title} </span> 
        <span class = "link-details"> / </span>
        <span class = "link-details"> {post.frontmatter.date} </span>
        <span class = "link-details"> / </span>
        <span class = "link-details"> {post.frontmatter.number} </span>
    </a>
</li>)}


<style>
    a {
  text-decoration: none;
  color: inherit;
}
</style>
