---

import '../styles/global.css';
import rephrases from '../data/rephrases-data.js';


---

<div class="all-items">
    {rephrases.map((rephrase) => (
        <div class="image-context remove-side-padding border-bottom gap"> 
            <p class="rephrase-original" set:html={rephrase.original} />
            <p class="rephrase-improved" set:html={rephrase.improved} />
        </div>       
    ))}
</div>

  
<style>

    .rephrase-improved{
    font-weight: 500;
    color: #2d2d2d;
    }

</style>