---

import '../styles/global.css';
import rephrases from '../data/rephrases-data.js';


---

<div class="all-rephrases">
    {rephrases.map((rephrase) => (
        <div class="individual-rephrase"> 
            <p class="rephrase-original" set:html={rephrase.original} />
            <p class="rephrase-improved" set:html={rephrase.improved} />
        </div>       
    ))}
</div>

  
<style>

    .all-rephrases{
    display: flex;
    gap: 20px;
    flex-direction: column;
    }

    .rephrase-improved{
    font-weight: 500;
    color: #2d2d2d;
    }

    .individual-rephrase{
    display: flex;
    gap: 2.5px;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 20px;
    }

    .individual-rephrase:last-child{
    display: flex;
    gap: 2.5px;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
    }

</style>