---


import '../styles/global.css';
import { Image } from 'astro:assets';

const imageFiles = import.meta.glob<{ default: ImageMetadata }>(
  '../assets/website-images/saturday-type-club-images/*.{jpg,jpeg,png,webp}',
  
  { eager: true }
);

const images = Object.entries(imageFiles)
  .sort(([a], [b]) => {
    const numA = parseInt(a.match(/(\d+)/)?.[1] ?? '0');
    const numB = parseInt(b.match(/(\d+)/)?.[1] ?? '0');
    return numA - numB;
  })
  .map(([, f]) => f.default).reverse();



---

<div class="all-items">
    {images.map((img, index) =>
      <Image class="stc-image"
        class="stc-image"
        src={img}
        alt=""
        width={img.width}
        height={img.height}
        loading={index === 0 ? "eager" : "lazy"}
      />
    )}
</div>



<style>

.all-items{
    display: flex;
    flex-direction: column;
    gap: 20px
}

.stc-image {
  inset: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}



</style>