---

import '../styles/global.css';
import snippets from '../data/snippet-data.js';

---

{/* style similar to resources page */}

<div class="all-snippets">
    {snippets.map((snippet) => (
    <div class="snippet-row">
        <span class="content-bubble"> {snippet.text} </span>
            {(snippet.openNote || snippet.design) && (
            /* this stuff is conditionally rendered appears to the right of the link*/
            <div class="content-links"> 
                {snippet.openNote && (
                <a href= {snippet.openNote} class="link-details"> Note</a>
                )}
                {snippet.openNote && snippet.design && (
                <span class="link-details"> / </span>
                )}
                {snippet.design && (
                <a href= {snippet.design} class="link-details"> Design</a>
                )}
             </div>
            )}
    </div>
    ))}

  
<style>


    .all-snippets{
    display: flex;
    gap: 20px;
    flex-direction: column;
    }

    .link-details{
    color: #2d2d2d;
    }

    .link-details:hover{
    font-weight: 500;
    color: #2d2d2d;
    }

    .snippet-row{
    display: inline-flex;
    gap: 10px;
    width: fit-content;
    align-items: center;
    }

</style>