---

import '../styles/global.css';
import snippets from '../data/snippet-data.js';

---

{/* style similar to resources page */}

<div class="all-items">
    {snippets.map((snippet) => (
    <div class="image-context remove-side-padding border-bottom gap">
        <span class="open-notes-title"> {snippet.text} </span>
            {(snippet.openNote || snippet.design) && (
            /* this stuff is conditionally rendered appears to the right of the link*/
            <div class="info-bubble"> 
                {snippet.openNote && (
                <a href= {snippet.openNote} class="bold-hover"> Note</a>
                )}
                {snippet.openNote && snippet.design && (
                <span class="bold-hover"> / </span>
                )}
                {snippet.design && (
                <a href= {snippet.design} class="bold-hover"> Design</a>
                )}
             </div>
            )}
    </div>
    ))}

  
<style>


/* MOBILE VIEWPORT */

    @media (max-width: 768px) {


    }





</style>