---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<script async data-uid="7c687589ab" src="https://middle-ground-made.kit.com/7c687589ab/index.js"></script>