---

import content from '../data/what-why.js';
import '../styles/global.css'


---



<div class="all-rephrases">
    {content.map((subject) => (
        <div class="individual-rephrase"> 
            <p class="rephrase-improved"> {subject.label} </p>
            <p class="rephrase-original"> {subject.text} </p>
        </div>       
    ))}
</div>

  
<style>

    .all-rephrases{
    display: flex;
    gap: 20px;
    flex-direction: column;
    }

    .rephrase-improved{
    font-weight: 500;
    color: #2d2d2d;
    font-size: .90rem;
    }

    .individual-rephrase{
    display: flex;
    gap: 2.5px;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 20px;
    }


</style>